body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(24, 26, 187);
  font-family: Arial, sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
#header {
  background-color: rgb(175, 197, 216);
  border-radius: 10px;
  display: flex;
  font-size: 150%;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 2/3;
}
#header p {
  font-size: 70%;
}
main {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: cornflowerblue;
  border-radius: 10px;
  grid-column: 2/5;
  grid-row: 3/8;
  gap: 10%;
}
#players {
  margin-bottom: 20%;
  display: flex;
  justify-content: space-between;
}
#player1 {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#current-score-p1 {
  background-color: rgb(55, 114, 224);
  margin: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
#current-score-p2 {
  background-color: rgb(60, 121, 235);
  margin: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
#player2 {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bottom-main {
  display: flex;
}
#Throwing-dice {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
}
#dice1 {
  margin: 10px;
  width: 50px;
  height: 50px;
  grid-column: 1;
  animation: d1 3s linear;
}
@keyframes d1 {
  0% {
    transform: translateX(-50px);
  }
  25% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
#dice2 {
  margin: 10px;
  width: 50px;
  height: 50px;
  grid-column: 2;
  animation: d2 3s ease;
}
@keyframes d2 {
  0% {
    transform: translateX(50px);
  }
  25% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.dice1 {
  background: URL('./img/d1.png');
  background-size: cover;
  border-radius: 10px;
}
.dice2 {
  background: url('./img/d2.png');
  background-size: cover;
  border-radius: 10px;
}
.dice3 {
  background: url('./img/d3.png');
  background-size: cover;
  border-radius: 10px;
}
.dice4 {
  background: url('./img/d4.png');
  background-size: cover;
  border-radius: 10px;
}
.dice5 {
  background: url('./img/d5.png');
  background-size: cover;
  border-radius: 10px;
}
.dice6 {
  background: url('./img/d6.png');
  background-size: cover;
  border-radius: 10px;
}
#bottom-main {
  display: flex;
  gap: 10px;
}
